@page "/change-password"
@layout MainLayout

@inject BisleriumCafe.Data.Services.AuthService _authService
@inject Microsoft.AspNetCore.Components.NavigationManager _navigationManager
@inject ISnackbar SnackBar

<div style="height: calc(100vh - 64px); background-image: url('/images/image2.png'); background-size: cover; background-position: center; background-repeat: no-repeat;" class="d-flex justify-center align-center">
    <!-- Change password form with square shape -->
    <MudPaper Class="pa-6 custom-form" Width="30vh">
        <!-- Display a warning if the user has an initial password -->
        @if (_authService.CurrentUser.HasInitialPassword)
        {
            <MudAlert Severity="Severity.Warning" Dense="true" Outlined="true" Class="custom-alert custom-square-alert">
                <MudIcon Icon="@Icons.Material.Filled.Warning" Size="Size.Small" />
                <MudText Color="Color.Warning"> Change the initial password for security. </MudText>
            </MudAlert>
        }

        <!-- Change password form fields -->
        <MudForm @ref="Form">
            <MudTextField T="string" Label="Current Password" @bind-Value="@CurrentPassword" InputType="InputType.Password" Required="true" />
            <MudTextField T="string" Label="New Password" @bind-Value="@NewPassword" Required="true" InputType="InputType.Password" Validation="@(new Func<string, IEnumerable<string>>(Hasher.PasswordStrength))" />

            <!-- Actions buttons with square shape -->
            <MudStack Row="true" Class="mt-6 justify-end">
                <MudButton Variant="Variant.Filled" Color="Color.Error" DisableElevation="true" OnClick="@(()=>Form.ResetAsync())">Cancel</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@ChangePasswordHandler">Change</MudButton>
            </MudStack>
        </MudForm>
    </MudPaper>
</div>

<style>
    /* Styles for customizing the form */
    .custom-form {
        position: relative;
        right: 20px; /* Adjust the distance from the right */
        opacity: 0.9; /* Adjust the opacity */
        border-radius: 10px; /* Add border-radius for square shape */
        border: 2px solid blue; /* Set border color to blue and width to 2px */
        font-weight: bold; /* Make the text bold */
        width: 50%; /* Set the width to 50% of the container */
        height: 50vh; /* Set the height to 50% of the viewport height */
        max-width: 300px; /* Optional: Set a maximum width for responsiveness */
        padding: 20px; /* Increased padding */
        box-sizing: border-box; /* Include padding and border in the box's dimensions */
        overflow: auto; /* Add scroll if content overflows */
    }

    /* Styles for customizing the warning alert */
    .custom-alert {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px; /* Add border-radius for square shape */
        padding: 15px; /* Add padding for a square shape */
    }
</style>

